<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Contact List </h1>
    
    <ul th:each = "name : ${names}">
        <li><a th:href = "@{'/contact/' + ${name.key}}" th:text="${name.value.name}"></a></li>
        <button onclick="UpdateData()">Update</button>
        <button onclick="DeleteData()">Delete</button>
        
    </ul>

    <a href="http://localhost:8080">
        <button>
            Index
        </button>
    </a>
    


</body>
</html>